<footer class="footer" style="background-color: teal;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 style="color: wheat;">Quick Links</h3>
                <div>
                    <p><a class="text-decoration-none" style="color: white;" href="/"><strong>Home</strong></a></p>
                    <p><a class="text-decoration-none" style="color: white;" href="/"><strong>Blogs</strong></a></p>
                    <p><a class="text-decoration-none" style="color: white;" href="/"><strong>Recent</strong></a></p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h3 style="color: wheat;">Social Media</h3>
                <div>
                    <p><a class="text-decoration-none" style="color: white;" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> <strong> Instagram</strong></a></p>
                    <p><a class="text-decoration-none" style="color: white;" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i> <strong> Twitter</strong></a></p>
                    <p><a class="text-decoration-none" style="color: white;" href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i> <strong> LinkedIn</strong></a></p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a class="text-light text-decoration-none" href="/"><strong><span class="text-danger">Salb</span> <span class="text-info">Blog</span></strong>.</a> All Rights Reserved.</p>
        </div>
    </div>
</footer>